@import './fonts.css';

@import 'tailwindcss/base';

/* 01 - Settings */
@import '01-settings/settings.variables.css';
@import '01-settings/settings.spacing.css';
/* 04 - Elements */
@import '04-elements/elements.html.css';
@import '04-elements/elements.body.css';
/* 05 - Objects */
@import '05-objects/objects.details.css';
@import '05-objects/objects.search.css';
/* 06 - Components */
@import '06-components/components.animations.css';
@import '06-components/components.blocks.css';
@import '06-components/components.fade-in.css';
@import '06-components/components.mode.css';
@import '06-components/components.prose.css';
@import '06-components/components.transitioner.css';
/* 07 - Plugins */
@import '07-plugins/plugins.embla.css';

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
